
body{ 
    background-image: url("https://i.pinimg.com/736x/f0/a2/15/f0a215b32c7f087eee71e7b21940b315.jpg");
    color: #4b455f;
    font-family: "Lucida Console", "Courier New", monospace;  
    min-height: 100vh;      
    display: flex;
    flex-direction: column;
    margin: 0;      
}

.header{
    display: flex;
    justify-content: center;
    padding: 2% 0% 4% 0%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 15px;
    font-weight: 600;
    color:#4b455f;
    text-decoration: none;
}

.header__menu__link:hover{
    filter: drop-shadow(4px 4px 0 #47ae8d);
    transform: translateY(-3px);  
}

main {
    flex: 1;
    padding-top: 30px; 
    margin: 0 15% 0 15%;  
}

.alert{
    display: block;
    margin: 0 auto;
    padding: 2% 0 4% 0;
    image-rendering: pixelated;
}


h1 {    /*saludo*/
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0 0 20px 0; 
    color:#47ae8d;
    text-shadow: -1px 0 #4b455f, 0 1px #4b455f, 1px 0 #4b455f, 0 -1px #4b455f;
}



.sobre-mi{
    padding-top: 10%; 
    display: flex;
    align-items: flex-start; 
    gap: 20px; 
    height: 300px;

}

.perfil-lateral{    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;}


p{
    flex:1;
    margin: 0;
    background-color: #3d363659;  
    border:  solid #4b455f00;   
    border-radius: 20px;         
    padding: 10px; 
    font-size: 1.5rem;
    height: 100%;
    overflow-y: auto; 
}
.con-color  {
    color: #71e6c1;
}

.sin-color{
    font-weight: bold;
}

.pixelart {
    background-color: #47ae8d;       
    border-radius: 50px;
    image-rendering: pixelated;
    width: 250px;
    height: auto; 
    filter: drop-shadow(4px 4px 0 #4b455f);
}

aside {
    display: flex;
    flex-direction: column;
    gap: 15px;      
    align-items: center;
    background-color: #3d363659; 
    border: 5px solid #4b455f00;   
    border-radius: 20px;         
    padding: 10px; 
    height: 100%;
}

.botones-red{display: flex;
    flex-direction: row;}

.redes img {
    width: 40px;                   
    height: 40px;
    display: block;               
    image-rendering: pixelated;    
    transition: all 0.3s ease;    
    filter: drop-shadow(2px 2px 0 #4b455f); 
    cursor: pointer;               
}

.redes img:hover {
    filter: drop-shadow(4px 4px 0 #4b455f);
    transform: translateY(-3px);                                               
}


footer {
    text-align: center;
    background: none;   
    border: none; 
    padding: 10px;
}

footer p {
    margin: 20px 0 0 0; 
    font-size: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    background: none;   
    border: none;
}




@media (max-width: 1000px) {


    .header__menu{
        gap: 40px;
    }

    .sobre-mi{
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    p{
        flex: none;  
        height: auto;   
        overflow-y: visible;
}

    aside {
        height: auto;  
        margin-bottom: 40px;
        flex: unset;
    }

    .pixelart {
    max-width: 70%;
}


    .botones-red {
        margin-top: 20px;
    }

footer {
        width: 100%;
        margin-top: 40px;
    }
}